@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";


body{
    background-image: radial-gradient( circle farthest-corner at -24.7% -47.3%,  rgba(6,130,165,1) 0%, rgba(34,48,86,1) 66.8%, rgba(15,23,42,1) 100.2% );    
    color: white;
    font-family: "JetBrains Mono", monospace;
}

/* Entire scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #0a0a0a;
}

/* Thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 10px;
}

/* Thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: #737373;
}

/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}