@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
  --color-one: #1A1B26;     /* Background */
  --color-two: #24283B;     /* Sidebar / Panels */
  --color-three: #414868;   /* Line Highlight */
  --color-four: #C0CAF5;    /* Default Text */
  --color-five: #7AA2F7;    /* Blue */
  --color-six: #8A2BE2;     /* Purple */
  --color-seven: #7DCFFF;   /* Cyan */
  --color-eight: #9ECE6A;   /* Green */
  --color-nine: #E0AF68;    /* Yellow */
  --color-ten: #F7768E;     /* Red */
  --color-eleven: #FF9E64;  /* Orange */
  --color-twelve: #00FF9F;
}

body{
    background-color: #0d0d1a;  /* fallback for old browsers */
    font-family: "JetBrains Mono", monospace;
}

.bg-2-cp{
  background-color: #141429;
}

.color-1-cp{
  color : #FF007F;
}
.color-2-cp{
  color : #00F5FF;
}
.color-3-cp{
  color : #8A2BE2;
}
.color-4-cp{
  color: #00FF9F;
}
.color-5-cp{
  color : #6B7280;
}
.text-1-cp{
  color : #9CA3AF;
}
.text-2-cp{
  color : #E6E6E6;
}

.border-1-cp { border-color: #FF007F; }
.border-2-cp { border-color: #00F5FF; }
.border-3-cp { border-color: #8A2BE2; }
.border-4-cp { border-color: #00FF9F; }
.border-5-cp { border-color: #6B7280; }

.color-1-cp:hover {
  text-shadow: 0 0 5px #FF007F,
               0 0 10px #FF007F,
               0 0 20px #FF007F;
}

.color-2-cp:hover {
  text-shadow: 0 0 5px #00F5FF,
               0 0 10px #00F5FF,
               0 0 20px #00F5FF;
}

.color-3-cp:hover {
  text-shadow: 0 0 5px #8A2BE2,
               0 0 10px #8A2BE2,
               0 0 20px #8A2BE2;
}

.color-4-cp:hover {
  text-shadow: 0 0 5px #00FF9F,
               0 0 10px #00FF9F,
               0 0 20px #00FF9F;
}

.color-5-cp:hover {
  text-shadow: 0 0 5px #6B7280,
               0 0 10px #6B7280,
               0 0 20px #6B7280;
}


/* Entire scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #0a0a0a;
}

/* Thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 10px;
}

/* Thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: #737373;
}

/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}