@import "tailwindcss";

body{
    background: #000000;
    color : #cafae0;
}

/* #cafae0 -text1 greenish white*/
/* d9ffea - text2 whitish green*/
/* 65eea3 - headings */

.text1{
    color : #d9ffea;
}
.text2{
    color : #cafae0;
}
.text3{
    color:#65eea3;
}